name: E2E tests
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
#    runs-on: self-hosted 
    strategy:
      matrix:
        shard: [1/3, 2/3, 3/3]
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - run: corepack enable

      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Get Playwright version
        id: playwright-version
        run: echo "PLAYWRIGHT_VERSION=$(jq -r .dependencies.playwright package.json)" >> "$GITHUB_OUTPUT"

      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile

      - name: Install Playwright system dependencies
        run: sudo pnpm exec playwright install-deps

      - name: Install Playwright browsers
        run: pnpm exec playwright install

      - name: Build app
        run: pnpm build

      - name: Run Playwright tests
        run: pnpm run test:e2e --shard=${{ matrix.shard }}
